{% extends "base.html" %}
{% load thumbnail_tags %}
{% block content %}
    <h2> 50x50 </h2>
    {% for film in films %}
        <img src='{% thumbnail size="50x50" path=film.poster.name %}'>
    {% endfor %}

    <h2> 150x150 </h2>
    {% for film in films %}
        <img src='{% thumbnail size="150x150" path=film.poster.name %}'>
    {% endfor %}

    <h2> 250x250 </h2>
    {% for film in films %}
        <img src='{% thumbnail size="250x250" path=film.poster.name %}'>
    {% endfor %}

    <h2> 450x450 </h2>
    {% for film in films %}
        <img src='{% thumbnail size="450x450" path=film.poster.name %}'>
    {% endfor %}
{% endblock content %}